<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Transactions</title>

    <link rel="stylesheet" href="/application.css">
  </head>
  <body>
    <%= yield %>

    <script src="/application.js"></script>
  </body>
</html>
