<!doctype html>
<html lang="en">
  <head>
    <!-- Metatags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <% if cookies.key?(:refresh) %>
      <meta http-equiv="refresh" content="60">
    <% end %>
    <title>Stackeye</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/feather.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/application.css">
  </head>
  <body>
    <!-- Components -->
    <%= erb(:"shared/_navbar") %>
    <div class="main-content">
      <div class="container-fluid">
        <%= yield %>
      </div>
    </div>

    <!-- Javascripts -->
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/popper.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/chart.js"></script>
    <script src="/javascripts/application.js"></script>
  </body>
</html>
