<div class="row">
  <div class="col-12 col-xl-8 offset-xl-2">
    <div class="unsupported">
      <img src="<%= base_path %>/images/ubuntu.svg" alt="Ubuntu">
      <h1>
        Sorry, but your OS could not be verified.
      </h1>
      <p class="text-muted">
        The only operating system that is currently supported is Ubuntu.
      </p>
    </div>
  </div>
</div>
