<div class="header">
  <div class="header-body">
    <div class="row align-items-end">
      <div class="col">
        <h6 class="header-pretitle">
          Metrics
        </h6>
        <h1 class="header-title">
          <%= @title %>
        </h1>
      </div>
      <div class="col-auto">
        <a href="<%= base_path %>/refresh" class="btn btn-<%= refreshing? ? :success : :danger %>">
          <span class="fe fe-rotate-cw"></span>
          Auto-Refresh
        </a>
      </div>
    </div>
  </div>
</div>
