<nav class="navbar">
  <div class="container row">
    <a class="navbar-brand" href="/">
      <img src="/images/stackeye.svg" alt="Stackeye">
    </a>








    <ul class="navbar-list row">
      <li class="navbar-item">
        <a class="navbar-link" href="#" data-popover="#codeNavPopover">Code</a>
        <div id="codeNavPopover" class="popover">
          <ul class="popover-list">
            <li class="popover-item">
              <a class="popover-link" href="#grid">Grid</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="#typography">Typography</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="#buttons">Buttons</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="#forms">Forms</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="#lists">Lists</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="#code">Code</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="#tables">Tables</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="#queries">Queries</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="#utilities">Utilities</a>
            </li>
          </ul>
        </div>
      </li>
      <li class="navbar-item">
        <a class="navbar-link" href="#" data-popover="#moreNavPopover">More</a>
        <div id="moreNavPopover" class="popover">
          <ul class="popover-list">
            <li class="popover-item">
              <a class="popover-link" href="https://github.com/dhg/Skeleton">On Github</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="https://github.com/dhg/Skeleton#browser-support">Browsers</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="https://github.com/dhg/Skeleton#license">License</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="https://github.com/dhg/Skeleton#extensions">Extensions</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="https://github.com/dhg/Skeleton/releases">Versions</a>
            </li>
            <li class="popover-item">
              <a class="popover-link" href="https://github.com/dhg/Skeleton#colophon">Colophon</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>
