<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col">
        <h4 class="card-header-title">
          Disk
        </h4>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="chart chart-appended">
      <canvas id="disk-chart"
              class="chart-canvas chartjs-render-monitor"
              data-toggle="chart"
              data-target="disk-chart"
              data-type="doughnut"
              data-labels='["Free", "Used"]'
              data-metrics="[<%= @metrics.pluck('disk_free').first %>, <%= @metrics.pluck('disk_used').first %>]"
              data-suffix="GB"
              width="506"
              height="482"
              style="display: block; height: 241px; width: 253px;">
      </canvas>
    </div>
    <div class="chart-legend">
      <% { primary: "Free", dark: "Used" }.each do |color, label| %>
        <span class="chart-legend-item">
          <i class="chart-legend-indicator bg-<%= color %>"></i>
          <%= label %>
        </span>
      <% end %>
    </div>
  </div>
</div>
