<div class="row">
  <div class="col-12 col-xl-12">
    <%= erb(:"shared/_header") %>
  </div>
</div>
<div class="row">
  <div class="col-12 col-xl-12">
    <%= erb(:"metrics/mysql/_queries") %>
  </div>
</div>
